body{
    background-color: lightgray;
    font-family: sans-serif;
}

h1{
    text-align: center;
    justify-content: center;
    color: black;
}

.nupud{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 40px;
    font-family: sans-serif;
    font-size: 16px;
    margin: auto;
    width: 240px;
    text-align: center;
    background-color: grey;
    border-radius: 20px;
}

